In [109]:
# Importing necessary packages
import pandas as pd
import mysql.connector
import warnings
warnings.filterwarnings('ignore')

In [110]:
# Function for mysql connector
def mysql_connector():
    try:
        # Connecting to mysql database using mysql connector
        mydb = mysql.connector.connect(host='localhost',user="root",password="0007")
        # Creating a cursor for running sql queries
        cursor = mydb.cursor()

    except Exception as e:
        logger(e)
        print(e)
mysql_connector()

In [111]:
# Creating a function to log all the errors in the process
import logging as lg
def logger(log):
    lg.basicConfig(filename='task2.log',level=lg.ERROR,format="%(asctime)s %(name)s %(levelname)s %(message)s")
    lg.error(log)

### Loading data to a dataframe

In [119]:
def data_import_clean():
    data = pd.read_xml(r"C:\Users\mdnis\Desktop\data.xml")
    data['table_field'] = data['table'] +" "+ data['field']
    data.drop('access',axis=1,inplace=True)
data_import_clean()

In [123]:
try:
    data_import_clean()
except Exception as e:
    print(e)
    logger(e)

### Creating the tables from xml

In [126]:
# Function to create tables with corrsponding fieldnames in the xml file
def table_creator():    
    tables = data.table.unique().tolist()
    cursor.execute("CREATE DATABASE xml_task_db;")
    cursor.execute("USE xml_task_db")
    for i in tables:
        collst = []
        for j in data.table_field:
            if j.split(" ")[0] == i:
                if j.split(" ")[1] == 'PROCEDURE':
                    j.split(" ")[1] = 'PROCEDURE1'
                else:
                    collst.append(j.split(" ")[1])
        qry1 = f"CREATE TABLE {i} ("
        qry2 = " VARCHAR(50),".join(collst) + " VARCHAR(50));"
        final_qry = qry1 + qry2
        cursor.execute(final_qry)
    print("Tables Created Successfuly")

In [127]:
try:
    table_creator()
except Exception as e:
    print(e)
    logger(e)

1007 (HY000): Can't create database 'xml_task_db'; database exists

### Showing data of each tables which is created

In [155]:
# Function to view the data of all the tables created
def data_viewer():    
    tables = data.table.unique().tolist()
    for i in tables:
        cursor.execute("USE xml_task_db")
        qry = f"SELECT * FROM {i};"
        cursor.execute(qry)
        print(f"Table data of table '{i}' is viewed successfuly")

In [157]:
try:
    data_viewer()
except Exception as e:
    print(e)
    logger(e)

Table data of table 'Terms' is viewed successfuly
Table data of table 'Prefs' is viewed successfuly
Table data of table 'FTE' is viewed successfuly
Table data of table 'Students' is viewed successfuly
Table data of table 'ReEnrollments' is viewed successfuly
Table data of table 'HealthScreenLookup' is viewed successfuly
Table data of table 'HealthGradeLevel' is viewed successfuly
Table data of table 'HealthStudGradeLevel' is viewed successfuly
Table data of table 'HealthStudIMMRec' is viewed successfuly
Table data of table 'HealthVaccine' is viewed successfuly
Table data of table 'HealthStudDoseRec' is viewed successfuly
Table data of table 'HealthImmExempt' is viewed successfuly
Table data of table 'HealthImmSource' is viewed successfuly
Table data of table 'Codeset' is viewed successfuly
Table data of table 'HealthMainStudRec' is viewed successfuly
Table data of table 'HealthOfficeVisit' is viewed successfuly
Table data of table 'HealthStudHearing' is viewed successfuly
Table data of table 'HealthScreenWaiver' is viewed successfuly
Table data of table 'HealthStudOral' is viewed successfuly
Table data of table 'HealthStudScolio' is viewed successfuly
Table data of table 'HealthStudTB' is viewed successfuly
Table data of table 'HealthStudVision' is viewed successfuly
Table data of table 'HealthVitalSigns' is viewed successfuly
Table data of table 'HealthScreenChngDetail' is viewed successfuly
Table data of table 'HealthStudChngDetail' is viewed successfuly
Table data of table 'HealthStudChngRsn' is viewed successfuly
Table data of table 'DM_SchoolEnrollment' is viewed successfuly
Table data of table 'Schools' is viewed successfuly
Table data of table 'PhoneNumber' is viewed successfuly
Table data of table 'StudentCoreFields' is viewed successfuly
Table data of table 'PersonPhoneNumberAssoc' is viewed successfuly
Table data of table 'OriginalContactMap' is viewed successfuly
Table data of table 'StudentContactAssoc' is viewed successfuly
Table data of table 'StudentContactDetail' is viewed successfuly